.profilePage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}
.profileBox {
    padding: 10vh 0 0 0;
}

.profileButton {
    display: flex;
    justify-content: center;
    gap: 1rem;
}